<p id="notice"><%= notice %></p>

<p>
  <strong>Abstract:</strong>
  <%= @scopu.abstract %>
</p>

<p>
  <strong>Author:</strong>
  <%= @scopu.author %>
</p>

<p>
  <strong>Link:</strong>
  <%= @scopu.link %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @scopu.publisher %>
</p>

<p>
  <strong>Pubtitle:</strong>
  <%= @scopu.pubtitle %>
</p>

<p>
  <strong>Pubtype:</strong>
  <%= @scopu.pubtype %>
</p>

<p>
  <strong>Title:</strong>
  <%= @scopu.title %>
</p>

<%= link_to 'Edit', edit_scopu_path(@scopu) %> |
<%= link_to 'Back', scopus_path %>
