<%= form_for(@acm) do |f| %>
  <% if @acm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acm.errors.count, "error") %> prohibited this acm from being saved:</h2>

      <ul>
      <% @acm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :generic_string %><br>
    <%= f.text_field :generic_string %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :pubtitle %><br>
    <%= f.text_field :pubtitle %>
  </div>
  <div class="field">
    <%= f.label :pubtype %><br>
    <%= f.text_field :pubtype %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
