<br>

<ol class="breadcrumb">
  <li><%= link_to 'Protocolo', protocol_path %></li>
  <li><%= link_to 'Execução da Busca', search_protocol_path %></li>
  <li class="active"> Resultados Retornados </li>
</ol>

<div class="container-fluid">
  <div class="table">
    <table class="table table-hover">
      <tr>
        <th> Base Digital </th>
        <th> Resultado Total </th>
        <th> Resultados Retornados </th>
        <th> Data </th>
      </tr>
      <tr>
        <% Reference.all.each do |reference| %>
            <% if reference.protocol_id == params[:id] %>
              <% if reference.database == 'scopu' %>
                  <tr>
                    <td>
                      <%= link_to reference.database_name, scopu_path %>
                    </td>
                    <td>
                      <%= reference.total_found %>
                    </td>
                    <td>
                      <%= reference.results %>
                    </td>
                    <td>
                      <%= (reference.updated_at.to_s[0..10])%>
                    </td>
                  </tr>
              <% end %>
              <% if reference.database == 'ieee' %>
                  <tr>
                    <td>
                      <%= link_to reference.database_name, ieee_path %>
                    </td>
                    <td>
                      <%= reference.total_found %>
                    </td>
                    <td>
                      <%= reference.results %>
                    </td>
                    <td>
                      <%= (reference.updated_at.to_s[0..10])%>
                    </td>
                  </tr>
              <% end %>
              <% if reference.database == 'scidir' %>
                  <tr>
                    <td>
                      <%= link_to reference.database_name, scidir_path %>
                    </td>
                    <td>
                      <%= reference.total_found %>
                    </td>
                    <td>
                      <%= reference.results %>
                    </td>
                    <td>
                      <%= (reference.updated_at.to_s[0..10])%>
                    </td>
                  </tr>
              <% end %>
              <% if reference.database == 'acm' %>
                  <tr>
                    <td>
                      <%= link_to reference.database_name, acm_path %>
                    </td>
                    <td>
                      <%= reference.total_found %>
                    </td>
                    <td>
                      <%= reference.results %>
                    </td>
                    <td>
                      <%= (reference.updated_at.to_s[0..10])%>
                    </td>
                  </tr>
              <% end %>
              <% if reference.database == 'springer' %>
                  <tr>
                    <td>
                      <%= link_to reference.database_name, springer_path %>
                    </td>
                    <td>
                      <%= reference.total_found %>
                    </td>
                    <td>
                      <%= reference.results %>
                    </td>
                    <td>
                      <%= (reference.updated_at.to_s[0..10])%>
                    </td>
                  </tr>
              <% end %>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
</div>