<%= form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :background %><br>
    <%= f.text_area :background %>
  </div>
  <div class="field">
    <%= f.label :research_question %><br>
    <%= f.text_field :research_question %>
  </div>
  <div class="field">
    <%= f.label :strategy %><br>
    <%= f.text_area :strategy %>
  </div>
  <div class="field">
    <%= f.label :criteria %><br>
    <%= f.text_area :criteria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
