<%= form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :título %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contextualização %><br>
    <%= f.text_area :background, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :pergunta_de_pesquisa %><br>
    <%= f.text_field :research_question, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :estratégia_de_busca %><br>
    <%= f.text_area :strategy, class: "form-control" %>
  </div>

    <table id="protocol-table" class="table table-hover table-striped">
      <thead>
          <th>Termo</th>
          <th>Sinônimo</th>
          <th>Tradução</th>
          <th></th>
      </thead>
      <tbody>
          <%= f.fields_for :query do |query_form| %>
              <tr class="fields">
                <td>
                  <%= query_form.text_field :term %>
                </td>
                <td>
                  <%= query_form.text_field :synonym %>
                </td>
                <td>
                  <%= query_form.text_field :translation %>
                </td>
                <td>
                  <%= f.submit "Adicionar", class: "btn btn-default" %>
                </td>
              </tr>
          <% end %>
      <tbody>
    </table>


  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
