<%= form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel panel-default" align="left"><b> Título </b>
          <div class="panel-body">
              <div class="form-group">
                <%= f.text_field :title, class: "form-control" %>
              </div>
          </div>
        </div>
        <div class="panel panel-default" align="left"><b> Contextualização </b>
          <div class="panel-body">
              <div class="form-group">
                <%= f.text_area :background, class: "form-control" %>
              </div>
          </div>
        </div>

        <div class="panel panel-default" align="left"><b> Pergunta de Pesquisa </b>
          <div class="panel-body">
              <div class="form-group">
                <%= f.text_area :research_question, class: "form-control" %>
              </div>
          </div>
        </div>
        <div class="panel panel-default" align="left"><b> Estratégia de busca </b>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :descrição %><br>
              <%= f.text_area :strategy, class: "form-control" %><br>

              <%= f.label :ano_de_publicação %><br>
              <div class="container-fluid">
                De: <%= f.text_field :from %>
                Até: <%= f.text_field :to %> <br><br>
              </div>

              <%= f.label :bases_digitais %>  <br>
              <div class="container-fluid">
                <%= f.check_box :ieee, {:checked=> true} %> IEEE Xplore <br>
                <%= f.check_box :science_direct, {:checked=> true} %> Science Direct <br>
                <%= f.check_box :scopus, {:checked=> false} %> Scopus <br>

                <%= f.check_box :acm, {:checked=> false} %> ACM Digital Library <br>
                <%= f.check_box :springer, {:checked=> false} %> Springer Link <br>
                <%= f.check_box :google_scholar, {:checked=> false} %> Google Scholar
              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-default" align="left"><b> Critérios de Inclusão/Exclusão </b> (Não utilizar acentuação nos termos!)
          <div class="panel-body">
              <div class="table-bordered">
                  <table class="table">
                    <tr>
                      <th> Termos </th>
                      <th>  </th>
                      <th> Sinônimos </th>
                      <th>  </th>
                      <th> Tradução (Inglês) </th>
                    </tr>
                      <%= f.fields_for :terms do |builder| %>
                        <%= render 'term_fields', :f => builder%>
                      <% end %>
                    <tr>
                      <td align="left">
                        <%= link_to_add_fields "Adicionar termos", f, :terms %>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
              </div>
          </div>
        </div>
        <br>

        <div class="panel panel-default" align="left"><b> Critérios de Qualidade </b>
          <div class="panel-body">
            <div class="form-group">
              <%= f.text_area :quality, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

<% end %>
