<div class="fields">
  <table class="table">
      <tr>
          <td>
            <%= f.hidden_field :termo %>
            <%= f.text_field :termo, placeholder: 'revisao sistematica da literatura' %>
          </td>
          <td>  </td>
          <td>
          </td>
          <td> OR </td>
          <td>
            <%= f.hidden_field :traducao %>
            <%= f.text_field :traducao, placeholder: 'systematic literature review' %>
          </td>
      </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <%= f.hidden_field :sinonimo %>
        <%= f.text_field :sinonimo, placeholder: 'revisao sistematica' %>
      </td>
      <td> OR </td>
      <td>
        <%= f.hidden_field :traducao2 %>
        <%= f.text_field :traducao2, placeholder: 'systematic review' %>
      </td>
    </tr>

    <tr>
      <td>
      </td>
      <td> </td>
      <td>
        <%= f.hidden_field :sinonimo2 %>
        <%= f.text_field :sinonimo2, placeholder: 'estudo mapeado' %>
      </td>
      <td> OR </td>
      <td>
        <%= f.hidden_field :traducao3 %>
        <%= f.text_field :traducao3, placeholder: 'mapping study' %>
      </td>
    </tr>
  </table>
</div>