<br>

<ol class="breadcrumb">
  <li><%= link_to 'Protocolo', protocol_path %></li>
  <li><%= link_to 'Execução da Busca', search_protocol_path %></li>
  <li><%= link_to 'Resultados Retornados', reference_path %></li>
  <li><%= link_to 'Trabalhos pré-selecionados', selected_protocol_path %></li>
  <li class="active"> Trabalhos selecionados </li>
</ol>

<% if @empty_ieee && @empty_scidir && @empty_scopus && @empty_acm && @empty_springer%>
    <div class="alert alert-info"><b> Nenhum trabalho incluído na revisão </b></div>
<% else %>
    <div class="pull-left" >
      <%= link_to included_protocol_path(format: "xls"), class: "btn btn-default" do %>
          Exportar Dados
          <span class="glyphicon glyphicon-download-alt" ></span>
      <% end %>
    </div>
    <br><br>
<% end %>

<% unless @empty_ieee %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to 'IEEE Xplore Digital Library' + ' (' + @count_ieee + ')', ieee_path  %> </b>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Excluir?</th>
            </tr>
            </thead>
            <tbody>
            <% @included_ieee.each do |ref| %>
                <tr>
                  <td><%= link_to ref.title, ref.link %></td>
                  <td><%= ref.author %></td>
                  <td>
                    <%= link_to exclude_included_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>

<% unless @empty_scidir %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to 'Science Direct Digital Library' + ' (' + @count_scidir + ')', scidir_path %> </b>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Título</th>
                <th>Autores</th>
                <th>Excluir?</th>
              </tr>
              </thead>
              <tbody>
              <% @included_scidir.each do |ref| %>
                  <tr>
                    <td><%= link_to ref.title, ref.link %></td>
                    <td><%= ref.author %></td>
                    <td>
                      <%= link_to exclude_included_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                          <span class="glyphicon glyphicon-trash"></span>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
<% end %>

<% unless @empty_scopus %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to 'Scopus Digital Library' + ' (' + @count_scopus + ')', scopu_path %> </b>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Excluir?</th>
            </tr>
            </thead>
            <tbody>
            <% @included_scopus.each do |ref| %>
                <tr>
                  <td><%= link_to ref.title, ref.link %></td>
                  <td><%= ref.author %></td>
                  <td>
                    <%= link_to exclude_included_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>

<% unless @empty_acm %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to 'ACM Digital Library' + ' (' + @count_acm + ')', acm_path %> </b>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Excluir?</th>
            </tr>
            </thead>
            <tbody>
            <% @included_acm.each do |ref| %>
                <tr>
                  <td><%= link_to ref.title, ref.link %></td>
                  <td><%= ref.author %></td>
                  <td>
                    <%= link_to exclude_included_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>

<% unless @empty_springer %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= link_to 'Springer Link Digital Library' + ' (' + @count_springer + ')', springer_path %> </b>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Excluir?</th>
            </tr>
            </thead>
            <tbody>
            <% @included_springer.each do |ref| %>
                <tr>
                  <td><%= link_to ref.title, ref.link %></td>
                  <td><%= ref.author %></td>
                  <td>
                    <%= link_to exclude_included_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>