<% @protocols.each do |protocol| %>
    <% if protocol.user == current_user %>
        <div class="link row clearfix">
          <h2>
            <%= link_to protocol.title, protocol %> <br>
            <small class="author">Submitted <%= time_ago_in_words(protocol.created_at) %> ago by <%= protocol.user.email %> </small>
          </h2>
         </div>
    <% end %>
<% end %>

<%= form_for(Protocol.new) do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading"> Search Engine </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">

            <div class="form-group">
              <%= f.label :query %><br>
              <%= f.text_field :query, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Submit", class: "btn btn-default" %>
            </div>

          </div>
        </div>
      </div>
    </div>
<% end %>

