<br>

<ol class="breadcrumb">
  <li><%= link_to 'Protocolo', protocol_path %></li>
  <li class="active"> Execução da Busca </li>
  <% unless @ref_protocol.nil? %>
      <li><%= link_to 'Resultados Retornados', reference_path %></li>
  <% end %>
</ol>

<%= form_for @protocol, url: ieees_path, html: {:method => :post}  do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading"><strong> Mecanismo de Busca </strong>  </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group" align="left">
              <%= f.label :string_de_busca %><br>
              <%= f.text_field :query, class: "form-control" %>
            </div>

            <%= f.hidden_field :id %>

            <div class="form-group">
              <%= f.submit "Buscar", class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>