<br>

<ol class="breadcrumb">
  <li><%= link_to 'Protocolo', protocol_path %></li>
  <li><%= link_to 'Execução da Busca', search_protocol_path %></li>
  <li><%= link_to 'Resultados Retornados', reference_path %></li>
  <li><%= link_to 'IEEE Xplore Digital Library', ieee_path %></li>
  <li class="active"> Trabalhos pré-selecionados </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <b>Trabalhos Incluídos na Revisão </b>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <% if @selected.empty? %>
          <div class="alert alert-info"><b> Nenhum trabalho incluído na revisão </b></div>
      <% else %>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Título</th>
              <th>Autores</th>
              <th>Seleção</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @selected.each do |ref| %>
                <tr>
                  <td><%= ref.title %></td>
                  <td><%= ref.author %></td>
                  <td>
                    <%= link_to include_ieee_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-ok"></span>
                        Incluir
                    <% end %>
                  </td>
                  <td>
                    <%= link_to exclude_ieee_path(ref), method: :put, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-remove"></span>
                        Excluir
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>


