<br><br>
<div class="container-fluid">

    <div class="panel panel-default">
      <div class="panel-heading">
        <b><%= @protocol.title  %> </b>
      </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12" align="left">
              <b> Título: </b> <%= @protocol.title %> <br><br>
              <b> Contextualização: </b> <br> <p> <%= @protocol.background %></p><br>
              <b> Pergunta de Pesquisa: </b> <br> <p> <%= @protocol.research_question %> </p><br>
              <b> Estratégia: </b> <br> <p> <%= @protocol.strategy %> </p><br>
              <b> Data de Publicação: </b> <br> <p> <%= @protocol.from.to_s + " - " + @protocol.to.to_s %> </p><br>
              <b> Bases Digitais: </b> <br>
              <ul>
                <% if @protocol.ieee %>
                    <% path = ieees_path %>
                    <li>
                      IEEE Xplore
                    </li>
                <% end %>
                <% if @protocol.acm %>
                    <li>
                      ACM Digital Library
                    </li>
                <% end %>

                <% if @protocol.springer %>
                    <li>
                      Springer Link
                    </li>
                <% end %>
                <% if @protocol.science_direct %>
                    <li>
                      Science Direct
                    </li>
                <% end %>
                <% if @protocol.google_scholar %>
                    <li>
                      Google Scholar
                    </li>
                <% end %>
              </ul><br>

              <b> Termos de Busca: </b> <br> <p> <%= @protocol.query %> </p><br>
              <b> Critérios de Qualidade: </b> <br> <p> <%= @protocol.quality %> </p>
            </div>
          </div>
        </div>
      </div>
  <div class="btn-group">
    <%= link_to 'Edit', edit_protocol_path(@protocol), class: "btn btn-default" %>
    <%= link_to 'Destroy', @protocol, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
    <%= link_to 'Back', protocols_path, class: "btn btn-default" %>
  </div>

  <br><br><br>

  <%= form_for @protocol, :url => ieees_path, :html => {:method => :post}  do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading"> Mecanismo de Busca </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <%= f.label :termos_de_busca %><br>
                <%= f.text_field :query, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.submit "Submit", class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>

</div>


