<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @protocol.title %>
</p>

<p>
  <strong>Background:</strong>
  <%= @protocol.background %>
</p>

<p>
  <strong>Research question:</strong>
  <%= @protocol.research_question %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @protocol.strategy %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @protocol.criteria %>
</p>

<ol>
  <% for term in @protocol.terms %>
    <li><%=h term.termo %></li>
  <% end %>
</ol>



<div class="btn-group">
  <%= link_to 'Edit', edit_protocol_path(@protocol), class: "btn btn-default" %>
  <%= link_to 'Destroy', @protocol, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to 'Back', protocols_path, class: "btn btn-default" %>
</div>
