<br>

<ol class="breadcrumb">
  <li><%= link_to 'Protocolo', protocol_path %></li>
  <li><%= link_to 'Execução da Busca', search_protocol_path %></li>
  <li><%= link_to 'Resultados Retornados', reference_path %></li>
  <li class="active"> IEEE Xplore Digital Library </li>
  <li><%= link_to 'Trabalhos pré-selecionados', selected_protocol_path %></li>
</ol>

<% if @reference.results == 0 %>
    <div class="alert alert-info"><b> Nenhum trabalho retornado! </b></div>
<% else %>
    <% if @ieees.empty? %>
        <div class="alert alert-info"><b> Todos trabalhos desta base já foram revisados! </b></div>
    <% else %>
        <% @ieees.each do |ieee| %>
            <br>
            <div class="panel panel-default">
              <div class="panel-heading" align="left"> <b><%= link_to ieee.title, ieee.link  %> </b>
                <div align="right">
                  <%= link_to select_ieee_path(ieee), method: :put, class: 'btn btn-default btn-sm' do %>
                      <span class="glyphicon glyphicon-ok"></span>
                      Incluir
                  <% end %>
                  <%= link_to unselect_ieee_path(ieee), method: :put, class: 'btn btn-default btn-sm' do %>
                      <span class="glyphicon glyphicon-remove"></span>
                      Excluir
                  <% end %>
                </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12" align="left">
                    <h5>
                      <b> Autores: </b> <%= ieee.author %> <br>
                      <b> Periódico/Conferência: </b> <%= ieee.pubtitle  %><br>
                      <b> Ano: </b> <%= ieee.year  %><br>
                      <b> Abstract: </b> <p class="text-justify"> <%= ieee.abstract %> </p>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>

<%= will_paginate @ieees, renderer: BootstrapPagination::Rails %>



