<!DOCTYPE html>
<html>
<head>
  <title> RESuLT - SLR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td align="center" valign="top">
          <div id="header">
            <div id="spacer">&nbsp;</div>
            <table id="header_logos" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td valign="middle" width="149" style="border-right: #666 solid 1px; padding-right: 15px">
                  <a href="http://www.gqs.ufsc.br" target="_new">
                    <%= image_tag 'logo.png' %>
                    </a></td>
                <td valign="middle" width="100%" style="padding-left: 15px">
                  <span id="tool_title">RESuLT</span><br>
                  <small id="tool_title_small"> Revisão Sistemática da Literatura</small>
                </td>
                <td valign="middle" style="padding-right: 25px; padding-top: 3px">
                  <a href="http://www.incod.ufsc.br" target="_new">
                    <%= image_tag 'incod.png' %>
                  </a>
                </td>
                <td valign="middle" align="right">
                  <a href="http://www.ufsc.br" target="_new">
                    <%= image_tag 'ufsc.png' %>
                  </a></td>
              </tr>
            </table>
          </div>

          <div id="menu">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="34">
              <tr>
                <td nowrap>
                  <%= link_to (image_tag 'botao_home.png'), root_path %>
                </td>
                <td align="right" valign="top" nowrap>
                  <p class="user"></p>
                </td>
                <td align="right" width="310">
                  <% if user_signed_in? %>
                    <%= link_to (image_tag 'cadastrar.png'), new_protocol_path %>
                    <%= link_to (image_tag 'sair.png'), destroy_user_session_path, :method => :delete %>
                  <% else %>
                    <%= link_to (image_tag 'entrar.png'), new_user_session_path %>
                  <% end %>
                </td>
              </tr>
            </table>
          </div>

          <% unless user_signed_in? %>
              <div id="home_header">
                <p class="about">
                  Ferramenta para auxiliar a Revisão Sistemática da Literatura (SLR)
                  <br/> <br/>
                </p>
              </div>
          <% end %>

          <div id="search_form_container">
              <div id="main_content" class="container">
                <% flash.each do |name, msg| %>
                    <%= content_tag(:div, msg, class: "alert alert-info") %>
                <% end %>

                <!-- Yield identifies a section where content from the view should be inserted. -->
                <%= yield %>

              </div>

          </div>

          <table id="home_footer">
            <tr>
              <td>
                <div >
                  <%= render 'layouts/footer' %>
                </div>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>

</body>
</html>
